
@{
    ViewBag.Title = "Demo4";
}

<h2>Demo4</h2>

<div my-draggable style="width:300px; height:300px; border-radius:6px; background:rgba(256,256,256,0.7); text-align:center; line-height:300px; border:1px solid #169FE7; box-shadow:1px 2px 2px #ddd; color:#169FE7;">拖动我试试</div>



<script src="~/Content/Script/dragModule.js"></script>
