
@{
    ViewBag.Title = "Index";
}

<h2><span style="color:red;">angularJS_Test</span> Demos 演示列表</h2>

<hr />
<ul>
    <li>Demo1：<a href="@Url.Action("Demo1","Default")">（当前）进入</a> <a href="@Url.Action("Demo1","Default")" target="_blank">（新窗口）进入</a></li>
    <li>Demo2：<a href="@Url.Action("Demo2","Default")">（当前）进入</a> <a href="@Url.Action("Demo2","Default")" target="_blank">（新窗口）进入</a></li>

</ul>

