
@{
    ViewBag.Title = "Index";
}

<h2>angularJS_Test Demos 演示列表</h2>

<hr />
<ul>
    <li>Demo1：<a href="@Url.Action("Demo1","Default")">（当前）进入</a> <a href="@Url.Action("Demo1","Default")" target="_blank">（新窗口）进入</a></li>
</ul>

